.label {
    margin: 1.25em 0 0.25em 0;
    text-transform: uppercase;
}

.plane {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em;
    align-items: center;
}
.plane > i {
    flex-shrink: 0;
    margin-right: 0.35em;
}
.plane > div {
    flex-grow: 1;
}

.plane-content {
    display: flex;
    flex-direction: column;
}
.plane-content > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.plane-content > div:first-child > span:first-child {
    margin-right: 0.35em;
}
.plane-content > div:nth-child(2) > span:not(:first-child) {
    margin-left: 0.35em;
}